.header {
  background-color: #FFFFFF15;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.title, .description {
  color: #FFFFFFFF;
  text-align: center;
}

.title {
  font-size: 48px;
}

.description {
  font-size: 18px;
}
