.card {
  background-color: #FFFFFF33;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  flex-shrink: 0;
  width: 268px;
  height: 268px;
  border-radius: 8px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  height: 60px;
}

.productTitle, .productPrice {
  color: #FFFFFFFF;
  text-align: center;
}

.productTitle {
  font-size: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice {
  font-size: 20px;
}
