#header {
  background-color: #FFFFFF15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px
}

.headerTitle, .headerSubText {
  text-align: center;
}

.headerTitle {
  font-size: 48px;
}